# INSTRUCCIONES:
# 1. Copiar este archivo y llamarlo .env (en la misma carpeta backend).
# 2. Reemplazar la palabra "cambiar" por su valor real.
# 3. Lo demás dejenlo tal cual.

PORT=3000
DB_HOST=localhost
DB_PORT=5432

# Usuario de PostgreSQL (si no es postgres, cambiarlo)
DB_USERNAME=postgres

# CAMBIAR: contraseña de su PostgreSQL
DB_PASSWORD=cambiar

# Nombre de la base de datos (con C mayúscula, dejar tal cual!)
DB_NAME=Clinica

DB_LOGGING=true
SWAGGER_ENABLED=true

# CAMBIAR: cualquier texto largo
JWT_SECRET=cambiar